<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join User</title>
    <style>
        .data {
          background-color:navy;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          border: 1px,solid,black;
        }
        a{
            margin-left: 20px;
        }
        a:hover, a:active {
          background-color:rgb(74, 42, 255);
          border: 1px,solid,black;
        }
        </style>
</head>

<body>
    <div style = "border: 3px solid black">
        <h2 style="padding-left: 10px;">You've been invited to CMS</h2>
        <a class="data" style="color: white; margin-bottom: 5px;" href=<%= "http://localhost:3000/#/web/userregistration/?token="+ data %>>Join Now</a>
    </div>
</body>
</html>