<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join User</title>
</head>
<style>
    a:hover, a:active{
        background-color: blue;
    }
</style>

<body>
    <div style = "border: 1px solid black">
        <h2>You've been invited to CMS</h2>
        <a href=<%= "http://localhost:3000/userregistration/?userId="+ data %>>Join Now</a>
    </div>
</body>
</html>